<!DOCTYPE html>
<html>
	<head>
		<!-- HTML Codes by Quackit.com -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>
			Heroes of the logs</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="keywords" content="Heroes of the storm, heroes build, heroes pick ratio, heroes talent pick ratio, diablo, overwatch, hots">
			<meta name="description" content="Find heroes and talents pick ratio, comments about builds, and more">
	</head>
	<body>
		<h1>Heroes</h1>
		<p></p>
		<table class="pickRatioTable">
  <thead>
    <tr>
      <th>Heroe</th>
      <th>Pick ratio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
</table>
	</body>
</html>
