<!DOCTYPE html>
<html>
	<head>
		<!-- HTML Codes by Quackit.com -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>Heroes of the logs</title>
	</head>
	<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/js/data_insertion_test_client.js"></script>
		<h1>Heroes</h1>
		<p></p>
		<table class="pickRatioTable">
  <thead>
    <tr>
      <th>Insert data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Heroe name: <input type="text" id="heroeName" name="heroeName"> <input type="submit" id="accept" value="Send"></td>
    </tr>
  </tbody>
</table>
	</body>
</html>
