doctype html
html
head
title my jade template
body
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="/js/register.js")
	div
		label
			|Username
			input#username(type="text")
		p
		label
			|Email
			input#email(type="text")
		p
		lavel
			|Password
			input#password(type="password")
		input#register(type="submit")