doctype html
html
head
title my jade template
body
	h1 Hello
	div
	-var heroes = param1
		table
			thead
			each test in heroes
				tr
					td 
						a #{test.name}
					td
						a #{test.num_picked}
					td
						img(src="/resources/avatar_037e4af9915c_128.png")