doctype html
html
head
title my jade template
body
	div
		a(class="register" id="register" href="/register") Register
	div 
		h1 HotS pick ratio by heroe
		div
			table
				thead
				each test in param1
					tr
						td 
							a #{test.name}
						td
							a #{test.num_picked}
						td
							//img(src="/resources/avatar_037e4af9915c_128.png" height="35" width="35")